
body{
    font-family: 'Nunito', sans-serif;
    background: #e5eec1; 
    z-index: -2;
}

#wrapper{
    width: 255px;
    height: 120px;
    margin: 0 auto;
    margin-top: 100px;
    
}

a.button {
    color: #e5eec1;
    font-weight: bold;
    text-decoration: none;
}

.button .top {
    background: #5a5050 url(../img/icon.png) no-repeat 30px 15px;
    float: left;
    width: 250px;
    height: 70px;
    font-size: 37px;
    padding: 3px 30px 0 102px;
    box-sizing: border-box;
    letter-spacing: 7px;
    border-radius: 15px;
    box-shadow: 0 5px 3px #030303;
    transition: all 0.5s linear;
    -moz-transition: all 0.5s linear;
    -webkit-transition: all 0.5s linear;
    -o-transition: all 0.5s linear;
    
}

.button .top-center{
    font-size: 16px;
    padding-bottom: 9px;
    margin-top: -10px;
    letter-spacing: 2px;   
}

.button .bottom {
    float: left;
    width: 250px;
    height: 45px;
    padding-top: 19px;
    background: #e84a5f;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    margin-top: -15px;
    position: relative;
    z-index: -1;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    visibility: hidden;
    transition: all 0.5s linear;
    -moz-transition: all 0.5s linear;
    -webkit-transition: all 0.5s linear;
    -o-transition: all 0.5s linear;
}

h2{
    padding-top: 5px;
}

a.button:hover .bottom {
    visibility: visible;
}


a.button:hover .top {
transform: scale(1.1);
-moz-transform: scale(1.1);
-webkit-transform: scale(1.1);
-o-transform: scale(1.1);
}